/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Luckiest Guy", cursive;
    --primary-color: #000000;/* black */
    --secondary-color: #f6efdf; /* cream */
    --tertiary-color: #FFd700; /* gold */
    --banner-font-color: #1e90ff; /*blue*/
}

/* Global styles */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}

/* Cream bg and purple font for all body text under headings*/
.body {
  background-color: var(--secondary-color);    
  font-size: 1.25rem;
  color: #800080;
  font-weight: 400;
}

/* Gold top border for all h2 headings */
h2 {
    border-top: solid #FFd700 4px;
}


/* Navbar & Buttons */

#navbar {
  border-bottom: solid #ff1493 4px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 0;
  padding: 15px 60px;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
}

#stamp-logo {
  max-height: 90px;
  width: auto;
  height: auto;
  display: block;
}

li {
  color: var(--secondary-color);
}


.navbar-toggler {
  background-color: var(--primary-color); /* Black button */
  padding: 5px;
  border-radius: 6px;
  border: none;
  }

.navbar-toggler-icon {
  /* External content - from W3C.com - to replace Bootstrap's black colored SVG img with gold equivalent*/
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="gold" stroke-width="3" stroke-linecap="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); 
  /* End of external content */
  width: 30px;
  height: 30px;
  }

/* Hover Effect - Reverse colors */
.navbar-toggler:hover {
  background-color: var(--tertiary-color); 
  }

/* External content - from W3C.com - to replace Bootstrap's black colored SVG img with gold equivalent*/
.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="black" stroke-width="3" stroke-linecap="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); 
  }
/* End of external content */


/* Collapsable menu */
.navbar-nav .nav-link {
  color: #f5f5dc; /* Cream */
  transition: color 0.3s ease-in-out; /* Smooth transition */
  }

/* Selected (active/hovered) menu text */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: var(--tertiary-color);
  font-weight: 400;  
}

.btn {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.btn:hover {
  background-color: #ff1493;
  color: var(--tertiary-color)
}

/* Header */

#band-logo-header {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#logo-wrapper {
  background-color: #f6efdf;
}

#bio-header {
  background-color: #1e90ff;
  border-top: solid #800080 2px;
  border-bottom: solid #800080 2px;
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: 2rem;
}

i {
  padding-right: 3px;
}


/* Services Section */

.heading {
  padding: 20px;
  color: #ffd700;
  background-color: #800080;
  font-family: var(--secondary-font);
  font-size: 2rem;  
}

#services-header {
  background-color: var(--secondary-color);
}

.services {
  border: solid #800080 1px;
}

.services.info.body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 150px;
  text-align: center;
}

#availability .table-heading {
  background-color: #ffa500;
}

#set-times .table-heading {
  background-color: #1e90ff;
}

#audio-lighting .table-heading  {
  background-color: #32cd32;
}

#options .table-heading {
  background-color: #ff1493;
}

.info {
  background-color: var(--secondary-color);
  color: #800080;
  min-height: 100%;
}

.table-heading,
.info {
  text-align: center;
}

.table-heading h3 {
  color: var(--secondary-color);
  text-shadow: #800080 2px 2px;
}


/* Band profile */
#the-band div .col-12,
#the-band div .row {
  background-color: var(--secondary-color);
}

#band-profile .card {
  justify-content: center;
}

#band-profile .card p {
  font-family: var(--primary-font);
  font-size: 0.75rem;
  color: #000000;
}

.band-member h3 {
  color: #800080;
  font-weight: 700;
}

.band-member p {
  color: #1e90ff;
  font-weight: 600;
}

#band-members {
  border-bottom: #FFd700 4px;
}

.card {
  background-color: #f6efdf;
}

/* Booking page */

#booking-header h1 {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  text-shadow: #f5f5dc 0px 0.5px;
}

#bonus-options,
#set-time {
  font-family: var(--primary-font);
  color:#f6efdf;
  font-size: 1rem;
}

#booking-form {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

#booking-form {
  background-color: #1e90ff;
  padding: 20px 20px 0 20px;
  color: var(--secondary-color);
  border-top: solid #FFd700 4px;
  border-bottom: solid #ff1493 4px;
}


#booking-form h3 {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
  font-size: 1.6rem;
  text-shadow: #000000 1px 1px;

}

#booking-form label
#booking-form legend {
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 700;

}

#booking-body legend {
  font-size: 1rem;
}



/* Success page */
#success h1 {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}


/* Footer */
footer {
  background-color: var(--tertiary-color);
}

#social {
border-bottom: solid #800080 2px;
height: auto;
}

#social i {
  font-size: 2.8rem;
}

#youtube {
  color: #800080;
}

#instagram {
  color: #ff1493
}

#facebook {
  color: #1e90ff;
}

#copyright {
  font-family: var(--primary-font);
  font-size: 0.7rem;
  font-weight: 300;
  color: #800080;
}